.beneficiary-container {
  &__allowance {
    background: #009688;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }

  &__subsidy {
    background: darkolivegreen;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }

  &__support {
    background: limegreen;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }

  &__deduction {
    background: #FFB84C;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }
}