.campaign-container{
  &__unspecified{
    background: darkolivegreen;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }
  &__unknown{
    background: #ff9800;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }
  &__enabled{
    background: #009688;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }
  &__paused{
    background: orange;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }
  &__removed{
    background: #f44336;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
  }
}